<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>0.jpg</string>
		<key>message</key>
		<string>明天在哪里集合</string>
		<key>name</key>
		<string>柯南</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>1.jpg</string>
		<key>message</key>
		<string>我也不知道</string>
		<key>name</key>
		<string>鸣人</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2.jpg</string>
		<key>message</key>
		<string>不是很清楚</string>
		<key>name</key>
		<string>小樱</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>3.jpg</string>
		<key>message</key>
		<string>明天早上有课吗</string>
		<key>name</key>
		<string>水冰月</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>4.jpg</string>
		<key>message</key>
		<string>我很想念你</string>
		<key>name</key>
		<string>灰太狼</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>5.jpg</string>
		<key>message</key>
		<string>我们明天去吃火锅吧</string>
		<key>name</key>
		<string>喜洋洋</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>6.jpg</string>
		<key>message</key>
		<string>明天一起去看电影吗？</string>
		<key>name</key>
		<string>绿巨人</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>7.jpg</string>
		<key>message</key>
		<string>我可能会去</string>
		<key>name</key>
		<string>钢铁侠</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>8.jpg</string>
		<key>message</key>
		<string>英语考试是什么时候</string>
		<key>name</key>
		<string>流川枫</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>9.jpg</string>
		<key>message</key>
		<string>有模拟题需要做吗</string>
		<key>name</key>
		<string>樱木花道</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>10.jpg</string>
		<key>message</key>
		<string>你明天什么时候回来</string>
		<key>name</key>
		<string>路飞</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>11.jpg</string>
		<key>message</key>
		<string>下课的时候等一下我</string>
		<key>name</key>
		<string>阿雅</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>12.jpg</string>
		<key>message</key>
		<string>我明天要去看牙齿了</string>
		<key>name</key>
		<string>付力</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>13.jpg</string>
		<key>message</key>
		<string>现在樱花好像开啦</string>
		<key>name</key>
		<string>王大锤</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>14.jpg</string>
		<key>message</key>
		<string>最热的时候终于要过去了</string>
		<key>name</key>
		<string>张明</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>15.jpg</string>
		<key>message</key>
		<string>我会给你带礼物的</string>
		<key>name</key>
		<string>赵敏</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>16.jpg</string>
		<key>message</key>
		<string>你去过最好玩的地方是哪里呀</string>
		<key>name</key>
		<string>周芷若</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>17.jpg</string>
		<key>message</key>
		<string>你见过雪莲吗</string>
		<key>name</key>
		<string>小红</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>18.jpg</string>
		<key>message</key>
		<string>明天9点钟开会别忘了，提醒你一下</string>
		<key>name</key>
		<string>邓川</string>
	</dict>
</array>
</plist>
